node_modules
package-lock.json
dist
**.txt
**.zip
**.7z
wah
tsconfig.tsbuildinfo
app/gemini/**.tsx
app/asdf/**.tsx
.engine-api-compiled.json
.nextjs-engine/nenc/manifest.json
/public/_static/endpoint/
/public/_static/shader/
.next/
test-results/
playwright-report/
certificates/
/app/%5Fengine/
/src/app/%5Fengine/
